networks:
  routing-network:

services:
  
  db:
    build:
      context: .
      dockerfile: ./docker/postgis/Dockerfile
    container_name: ${CONTAINER_NAME-routing-db}
    environment:
      POSTGRES_DB: ${DB_NAME:-routing_db}
      POSTGRES_USER: ${DB_USER:-postgis}
      POSTGRES_PASSWORD: ${DB_PASS:-postgis}
    profiles:  ["db", "dev"]
    ports:
      - "5432:5432"
    volumes:
      - "./docker-data/postgis:/var/lib/postgresql/data"
    networks:
      - routing-network
    healthcheck:
      test: ["CMD-SHELL", "psql -U postgis -d routing_db -c 'SELECT postgis_full_version();' || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 10
  
  osm2po:
    build:
      context: .
      dockerfile: ./docker/osm2po/Dockerfile
    container_name: osm2po_importer
    profiles:  ["osm2po", "dev"]
    volumes:
      - ${PBF_LOCAL_FOLDER}:/data
      - ./docker/osm2po/osm2po.config:/opt/osm2po/osm2po.config
      - ./docker/osm2po/import.sh:/opt/osm2po/import.sh
    environment:
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - PBF_FILENAME=${PBF_FILENAME}
    command: ["/bin/bash", "/opt/osm2po/import.sh"]
    networks:
      - routing-network
    depends_on:
      db:
        condition: service_healthy
        
  setup-logic:
    build:
      context: .
      dockerfile: ./docker/postgis/Dockerfile
    container_name: osm2pgsql_importer
    profiles:  ["osm2pgsql", "dev"]
    environment:
      - PGHOST=db
      - PGUSER=${DB_USER}
      - PGPASSWORD=${DB_PASS}
      - PGDATABASE=${DB_NAME}
      - PBF_FILENAME=${PBF_FILENAME}
    volumes:
      - ./sql:/sql:ro
      - ${PBF_LOCAL_FOLDER}:/osm_import:ro
      - ./docker/setup/setup.sh:/setup.sh:ro
    entrypoint: ["/bin/bash", "/setup.sh"]
    networks:
      - routing-network
    depends_on:
      osm2po:
        condition: service_completed_successfully
        
  pgrouting-api:
    container_name: routing-api
    build:
      context: .
      dockerfile: ./docker/pgrouting-api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
      - ASPNETCORE_HTTPS_PORTS=5000
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=SuperStrongPassword
    profiles:  ["api", "dev"]
    ports:
      - "5000:5000"
    volumes:
      - ~/.aspnet/https:/https:ro
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ./docker-data/pgrouting-tiles:/pgrouting-tiles:ro
      - ./config/api/appsettings.Docker.json:/app/appsettings.Docker.json:ro
    networks:
      - routing-network
    depends_on:
      setup-logic:
        condition: service_completed_successfully
        
  pgrouting-web:
    container_name: routing-web
    build:
      context: .
      dockerfile: ./docker/pgrouting-web/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
      - ASPNETCORE_HTTPS_PORTS=5001
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=SuperStrongPassword
    profiles:  ["web", "dev"]
    ports:
      - "5001:5001"
    volumes:
      - ~/.aspnet/https:/https:ro      
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ./config/web/appsettings.Docker.json:/app/appsettings.Docker.json:ro
      - ./config/client/assets:/app/wwwwroot/assets:ro
    networks:
      - routing-network