version: '3.8'

services:
  db:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    container_name: postgis_db
    environment:
      POSTGRES_USER: postgis
      POSTGRES_PASSWORD: postgis
      POSTGRES_DB: routing
    volumes:
      - "./docker-data/postgis:/var/lib/postgresql/data"
      - "./sql/01-create_databases.sql:/docker-entrypoint-initdb.d/01-create_databases.sql"
    ports:
      - "5432:5432"