networks:
  services:

services:
  db:
    build:
      context: .
      dockerfile: ./docker/postgis/Dockerfile
    container_name: ${CONTAINER_NAME-routing-db}
    environment:
      POSTGRES_USER: ${DB_USER-postgis}
      POSTGRES_PASSWORD: ${DB_PASS-postgis}
      POSTGRES_DB: ${DB_NAME-routing_db}
    profiles:  ["db", "dev"]
    ports:
      - "5432:5432"
    volumes:
      - "./docker-data/postgis:/var/lib/postgresql/data"
      - ${PBF_LOCAL_FOLDER-default}:/osm_import:ro
  pgrouting-api:
    container_name: routing-api
    build:
      context: .
      dockerfile: ./docker/pgrouting-api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
      - ASPNETCORE_HTTPS_PORTS=5000
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=SuperStrongPassword
    profiles:  ["api", "dev"]
    ports:
      - "5000:5000"
    volumes:
      - ~/.aspnet/https:/https:ro
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ./docker-data/pgrouting-tiles:/pgrouting-tiles:ro
  pgrouting-web:
    container_name: routing-web
    build:
      context: .
      dockerfile: ./docker/pgrouting-web/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
      - ASPNETCORE_HTTPS_PORTS=5001
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=SuperStrongPassword
    profiles:  ["web", "dev"]
    ports:
      - "5001:5001"
    volumes:
      - ~/.aspnet/https:/https:ro      
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
  osm2po:
      build: .
      container_name: osm2po_importer
      profiles:
        - import
      volumes:
        - ${PBF_LOCAL_FOLDER}:/data
      # Hier definieren wir den exakten Aufruf
      command: >
        java -Xmx4g -jar osm2po-core.jar
        prefix=routing
        /data/${PBF_FILENAME}
        postp.0.class=de.cm.osm2po.postp.PgRoutingWriter
        postp.0.url="jdbc:postgresql://routing-db:5432/${DB_NAME}?user=${DB_USER}&password=${DB_PASS}"
        postp.0.idTableName=routing.osm2po_data
        postp.0.writeFields=true
        postp.0.writeKmh=true
        postp.0.writeMultiLineStrings=false