services:
  db:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    container_name: ${CONTAINER_NAME}
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - "./docker-data/postgis:/var/lib/postgresql/data"
      - ${PBF_LOCAL_FOLDER}:/osm_import:ro