networks:
  services:

services:
  db:
    build:
      context: .
      dockerfile: ./docker/postgis/Dockerfile
    container_name: ${CONTAINER_NAME-routing-db}
    environment:
      POSTGRES_USER: ${DB_USER-postgis}
      POSTGRES_PASSWORD: ${DB_PASS-postgis}
      POSTGRES_DB: ${DB_NAME-routing_db}
    profiles:  ["db", "dev"]
    ports:
      - "5432:5432"
    volumes:
      - "./docker-data/postgis:/var/lib/postgresql/data"
      - ${PBF_LOCAL_FOLDER-default}:/osm_import:ro
  pgrouting-api:
    container_name: routing-api
    build:
      context: .
      dockerfile: ./docker/pgrouting-api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
      - ASPNETCORE_HTTPS_PORTS=5000
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=SuperStrongPassword
    profiles:  ["api", "dev"]
    ports:
      - "5000:5000"
    volumes:
      - ~/.aspnet/https:/https:ro
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ./docker-data/pgrouting-tiles:/pgrouting-tiles:ro
  pgrouting-web:
    container_name: routing-web
    build:
      context: .
      dockerfile: ./docker/pgrouting-web/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
      - ASPNETCORE_HTTPS_PORTS=5001
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=SuperStrongPassword
    profiles:  ["web", "dev"]
    ports:
      - "5001:5001"
    volumes:
      - ~/.aspnet/https:/https:ro      
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
  osm2po:
    build:
      context: .
      dockerfile: ./docker/osm2po/Dockerfile
    container_name: osm2po_importer
    profiles:
      - import
    volumes:
      - ${PBF_LOCAL_FOLDER}:/data
      - ./docker/osm2po/osm2po.config:/opt/osm2po/osm2po.config
      - ./docker/osm2po/import.sh:/opt/osm2po/import.sh
    environment:
      - PBF_FILENAME=${PBF_FILENAME}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
    command: ["/bin/bash", "/opt/osm2po/import.sh"]